/**
 * Comments Stylesheet
 * Styles for comment list, forms, and pagination
 */

/* Comment Pagination */
#comments .page-navigator {
    text-align: center;
}

#comments .page-navigator li {
    display: inline-block;
    margin: 0 4px;
}

#comments .page-navigator li a {
    background: #4cb6cb;
    color: #fff;
    display: block;
    padding: 0 16px;
    line-height: 42px;
    border-radius: 4px;
}

#comments .page-navigator .current a,
#comments .page-navigator a:hover {
    background: #009ACD;
}

/* Comment List */
.comment-list,
.comment-list ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment-list {
    margin-top: -1px;
}

.comment-list li {
    padding: 15px 0 0;
}

.comment-list li .comment-reply {
    float: right;
    margin-top: -39px;
    padding: 0 10px;
    border: 1px solid #ccc;
    font-size: 0.92857em;
}

/* Comment Meta */
.comment-meta a {
    color: #999;
    font-size: 0.92857em;
}

/* Comment Author */
.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
}

.comment-author .avatar {
    float: left;
    margin: 1px 10px 0 0;
    padding: 1px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.comment-author .avatar:hover {
    float: left;
    margin: 1px 10px 0 0;
    padding: 1px;
    border: 1px solid #3c3;
    border-radius: 50%;
}

.comment-author cite {
    font-weight: 700;
    font-style: normal;
}

/* Comment Respond */
.respond p {
    margin: 10px 0;
}

.respond h3 {
    margin: 12px 0 0 0;
}

.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #aaa;
}

.comment-body .respond {
    margin: 0 0 25px;
    border: 0;
}

.respond .cancel-comment-reply {
    float: right;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom: 0;
    background: #ddd;
    font-size: 14px;
}

/* Comment Form */
#comment-form label {
    position: absolute;
    display: block;
    margin: 6px;
    color: #888;
}

#comment-form input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 6px 5px 45px;
    height: 32px;
    border: solid 1px #d4d4d4;
    background: #fdfdfd;
    line-height: 16px;
}

/* Comment Children */
.comment-children {
    padding-left: 30px;
}

.comment-children .comment-children {
    padding-left: 0;
}

/* Comment Content */
.comment-content {
    overflow: hidden;
    margin-right: 50px;
}
